//FONTS
$font-main: 'Playfair Display',serif;
$font-cursive: 'Clicker Script',cursive;

//colors:
$coffee:#603809;
$white: #ffffff;
$dark:#1e1e1e;
$sand:#F9c06A;
$sand1:#da952f;
$grey: #707070;
$bodyWhite:#fffefc;

//Media
$tablet: 992px;
$tablet_s: 768px;
$mobile: 425px;